body {
    font-family: 'IBM Plex Mono', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    overflow-x: hidden;
    transition:opacity 0.3s;
    opacity: 0;
}


* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-snap-type: y mandatory;
}


.projectarea {
    min-height: 100vh;
}


section {
    scroll-snap-align: start;
    background: #202020;
    width: 100%;
    color: white;
    overflow-x: hidden;
}

.projectarea h1 {
    padding-left: 30px;
    padding-top: 120px;
}

.headerimg {
    height: 250px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 30px;
    object-fit: cover;
    transition: 1s all;
}

.headerimgglow {
    position: relative;
    filter: blur(100px);
    overflow-x: hidden;
    width: 50%;
    float: right;
    left: 200px;
    z-index: 50;
}

.projectarea h2 {
    border-radius: 20px;
    margin-right: 20px;
    padding-top: 05px;
    padding-left: 30px;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.projectarea p {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 70px;
}

.projectarea h1 span {
    border-radius: 20px;
    margin-right: 20px;
    background-color: #ff2d2d;
    padding-top: 05px;
    padding-bottom: 05px;
    padding-left: 10px;
    padding-right: 10px;
    color: #202020;
}

.topofnav {
    display: flex;
}
nav {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    /* From https://css.glass */
    color: #ff2b2b;
    transition: 0.5s all;
}

.navdown {
    color: white;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}

nav .fa-solid {
    color: #ff2b2b;
    margin: 40px;
    transition: 0.005s all;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    opacity: 1;
    margin-left: calc(50vw - 174px);
    margin-right: calc(50vw - 174px);
}

.navdown .fa-solid {
    color: white;
}

nav .fa-solid:active{
    filter:blur(2px);
    -webkit-filter:blur(2px);
    opacity:0.5;
}

nav img {
    filter: invert(51%) sepia(69%) saturate(7379%) hue-rotate(345deg) brightness(102%) contrast(102%);
    cursor: pointer;
}

.opennav {
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(50px) !important;
    -webkit-backdrop-filter: blur(50px) !important;
}

.navdown img {
    filter: none;
}

#hideonpcicon{
    opacity:0;
}

#desktopnav {
    padding-top: 35px;
    margin-left: calc(94vw - 500px);
}
    #desktopnav a {
        color: #ff2b2b;
        margin-left:20px;
        cursor: pointer;
    }

    .navdown #desktopnav a{
        color:white;
    }

#mobileopennav {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    position: absolute;
    top: 100px; /* Adjust top position as needed */
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.navbutton {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 05px;
    width: 80%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    grid-column: span 1;
    height: 100px;
    line-height: 100px;
    background-color: #272727dd !important;
    border-top: 1px solid rgba(86, 86, 86, 0.805) !important;
    border-bottom:1px solid rgba(16, 16, 16, 0.849) !important;
}

.navbuttonfilled{
    background-color: #ff3131dd !important;
    border-top: 1px solid rgba(255, 112, 112, 0.805) !important;
    border-bottom:1px solid rgba(170, 0, 0, 0.849) !important;
    outline: none !important;
}


.fadein{
    animation:fadein 1s linear;
}

@keyframes fadein{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.navbutton:first-of-type{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.navbutton:last-of-type{
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;

}

    .navbutton.full-width {
        grid-column: span 2;
        width:90%;
    }

@media (min-width:320px) and (max-width:1024px) { /* smartphones, iPhone, portrait 480x320 phones */
    .topofnav {
        justify-content: center;
    }

        nav img {
            justify-self:center;
            margin-top: 07px;
        }

        #desktopnav{
            display:none;
        }
        
}


@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    nav img {
        margin: 10px;

    }

    #hideonpcicon{
        display:none;
    }

    nav .fa-solid {
        display: none;
    }

    /*#filterbar{
        padding-top:12px;
        padding-left:12px;
        padding-right:12px;
        z-index: 100;
        position: fixed;
        top: 75dvh !important;
        margin: 0 auto;
        height:75px;
        background: rgba(255, 33, 33, 0.768);
        border-radius: 60px;
        box-shadow: 0 4px 30px rgba(55, 14, 14, 0.598);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-top: 1px solid rgba(255, 112, 112, 0.805);
        border-bottom:1px solid rgba(170, 0, 0, 0.849);
        left: 50%;
        transform: translate(-50%, 0);
        transition:0.5s all;
    }
    
    .openfilterbar{
        height:500px !important;
        top:calc(75dvh + 500px) !important;
        padding-left:100px !important;
        padding-right:100px !important;
    }*/

    .mobilebr{
        display:none;
    }
}


nav img {
    width: 1.5in;
}

.glowbutton {
    border-top: 1px solid rgba(255, 112, 112, 0.805);
    border-bottom:1px solid rgba(170, 0, 0, 0.849);
    text-decoration: none;
    display: block;
    width: 25%;
    height: 25px;
    background: #FF2121;
    padding: 15px 30px 15px 30px;
    text-align: center;
    border-radius: 14px;
    color: white;
    line-height: 25px;
    margin-left: 30px;
    margin-right: 40px;
    box-shadow: 0 0 10px 5px rgba(120, 15, 15, 0.703);
    transform: scale(1);
    transition: 0.5s all;
    margin-bottom: 100px;
    cursor: pointer;
}

    .glowbutton:hover {
        background: #ff3131;
        box-shadow: 0 0 10px 5px rgba(197, 28, 28, 0.203);
        transform: scale(1.1);
    }

    .glowbuttondark {
        text-align: center;
        border-top: 1px solid rgba(98, 98, 98, 0.805);
        border-bottom:1px solid rgba(0, 0, 0, 0.849);
        text-decoration: none;
        display: block;
        width: 25%;
        height: 25px;
        background: #323232;
        padding: 15px 30px 15px 30px;
        text-align: center;
        border-radius: 14px;
        color: white;
        line-height: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin: 0 auto;
        box-shadow: 0 0 10px 5px rgba(165, 9, 9, 0.703);
        transform: scale(1);
        transition: 0.5s all;
        margin-bottom: 100px;
        cursor: pointer;
    }
    
        .glowbuttondark:hover {
            background: #282828;
            box-shadow: 0 0 10px 5px rgba(197, 28, 28, 0.203);
            transform: scale(1.1);
        }
    

@media (max-width:1000px) {
    .glowbutton {
        text-decoration: none;
        display: block;
        width: 80%;
        height: 25px;
        background: #FF2121;
        padding: 15px 0px 15px 0px;
        text-align: center;
        border-radius: 14px;
        color: white;
        line-height: 25px;
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: 0 0 10px 5px rgba(120, 15, 15, 0.703);
    }


    .glowbuttondark {
        border-top: 1px solid rgba(98, 98, 98, 0.805);
        border-bottom:1px solid rgba(0, 0, 0, 0.849);
        background: #323232;
        box-shadow: 0 0 10px 5px rgba(165, 9, 9, 0.703);
    }
    
        .glowbuttondark:hover {
            background: #282828;
            box-shadow: 0 0 10px 5px rgba(197, 28, 28, 0.203);
        }

    #filterbar{
        width:267px;
    }

    .sphericalbutton{
        max-width:35vw;
    }



    .headerimg {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        object-fit: cover;
    }

    h1 {
        margin-left: 4%;
    }

    h2 {
        margin-left: 4%;
    }

    p {
        margin-left: 4%;
    }

    .headerimgglow {
        position: relative;
        filter: blur(100px);
        overflow-x: hidden;
        width: 50%;
        left: 0px;
        z-index: 50;
    }
}

.top .barcode {
    margin-left: 50px;
    font-family: 'Libre Barcode 39', cursive;
    font-size: 50px;
    padding-bottom: 159px;
}

.top h1 {
    margin-left: 50px;
    font-family: 'IBM Plex Mono', monospace;
}

.top p {
    margin-left: 50px;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}

.talents {
    position: absolute;
    top: 150px;
    margin-left: 300px;
    width: 100%-150px;
    filter: blur(10px);
    z-index: 10;
    animation: blurinout 10s infinite;
    overflow-x: hidden;
}

@media screen and (orientation:portrait) {
    .talents {
        position: absolute;
        top: 150px;
        margin-left: 240px;
        width: 0px;
        display: none;
        filter: blur(10px);
        z-index: 10;
        animation: blurinout 10s infinite;
    }
}

@media screen and (orientation:landscape) {
    .talents {
        position: absolute;
        top: 150px;
        margin-left: 240px;
        width: 100%-150px;
        filter: blur(10px);
        z-index: 10;
        animation: blurinout 10s infinite;
    }
}


@keyframes blurinout {
    0% {
        filter: blur(10px);
    }

    50% {
        filter: blur(5px);
    }

    100% {
        filter: blur(10px);
    }
}

.marquee {
    height: 100px;
    overflow: hidden;
    position: relative;
    color: #ff0000;
    background: #000000;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

    .marquee p {
        color: #ffffff;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 100px;
        text-align: center;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation: scroll-left 2s linear infinite;
        -webkit-animation: scroll-left 2s linear infinite;
        animation: scroll-left 8s linear infinite;
    }

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
    }

    100% {
        -moz-transform: translateX(100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

.top {
    overflow-y: hidden
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

.footer {
    height: 100vh;
    background-color: #030303;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#player {
    border-radius: 1000px;
    height: 3in;
}


#playcontain {
    width: 100%;
    margin-left: calc(50% - 1.5in);
    margin-top: 1in;
    margin-bottom: 1in;
}

.considering {
    height: 100vh;
    background-color: #FF2121;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
}

.reviewsectioncontainterimg{
    display: flex;
    justify-content: center;
}

    .considering h1 {
        padding-top: 45vh;
    }

    .reviews {
        background-color: #FF3232;
        scroll-snap-align: center;
    }

    .reviews img{
        align-self: center;
        object-fit:contain;
        height:300px;
    }

    .review{
        color:black;
        padding:30px;
        border-radius: 30px;
        margin-left:20px;
        width:5in;
        margin-bottom:40px;
        background-color: white;
        border:8px solid black;
        -webkit-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
        box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
        float:left;

        max-width: 33.333%;
        flex-basis: 33.333%;
        flex-grow: 0;
        flex-shrink: 0;

        transition:0.5s all;

        position:relative;

    }


    .review:hover{
        background-color:#f3f3f3;
        -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
        box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    }

    .review:last-of-type:hover{
        background-color:#ed0000;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    }

    .reviews .review h1{
        margin-bottom:50px;
    }

    .reviews .review .reviewer{
        font-size: 22px;
        font-weight: 100;
        margin-bottom:10px;
        position:absolute;
        bottom:47px;
        left:60px;
    }


    .reviews .review .projecttype{
        text-transform: uppercase;
        color:#ff0000;
        font-weight: 700;
        position:absolute;
        bottom:30px;
    }

    .reviewerimg{
        margin-top:3px;
        margin-right:10px;
        background-color: #ff2b2b;
        height:20px;
        width:20px;
        border-radius: 100px;
        position:absolute;
        bottom:60px;
    }

    .letstalksection{
        background-color: #ff2b2b;
        background-image: url(Images/scribblebg.png);
        background-position: center;
        background-size: auto 100%;
        scroll-snap-align: end;
    }

#filterbar {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 100;
    position: fixed;
    top: 85dvh;
    margin: 0 auto;
    height: 75px;
    background: rgba(255, 33, 33, 0.768);
    border-radius: 60px;
    box-shadow: 0 4px 30px rgba(55, 14, 14, 0.598);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 112, 112, 0.805);
    border-bottom: 1px solid rgba(170, 0, 0, 0.849);
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s all;
}

    #filterbar:hover {
        background: rgba(255, 49, 49,0.805);
        box-shadow: 0 0 10px 5px rgba(197, 28, 28, 0.203);
    }

.openfilterbar{
    height:280px !important;
    top:calc(85dvh - 270px) !important;
    padding-left:30px !important;
    padding-right:30px !important;
}

.openfilterbar .sphericalbutton{
    padding-left:90px !important;
    padding-right:90px !important;
    border-radius: 50px !important;
}

.sphericalbutton{
    box-shadow: 0 4px 10px rgba(55, 14, 14, 0.48) inset;
    cursor: pointer;
    color:white;
    line-height:65px;
    font-size:20px;
    padding:20px;
    width:100px;
    z-index: 1000;
    border-radius: 50px;
    background:#800000d8;
    transition:0.5s all;
}

.sphericalbutton:first-of-type{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sphericalbutton:last-of-type{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#filteranim{
    transition:1s opacity;
}

.filterbutton {
    box-shadow: 0 4px 10px rgba(55, 14, 14, 0.48) inset;
    cursor: pointer;
    color: white;
    line-height: 70px;
    font-size: 20px;
    padding: 20px;
    width: 100px;
    z-index: 1000;
    border-radius: 20px;
    background: #800000d8;
    transition: 0.5s all;
    width:90%;
    margin-bottom: 5px !important;
}

#filtertags{
    transition: 0.5s opacity;
    margin: auto;
    text-align: center;
    word-wrap: normal;
    overflow-wrap: normal;
}
#sorttags {
    transition: 0.5s opacity;
}



@media (min-width:320px) and (max-width:1024px) { /* smartphones, iPhone, portrait 480x320 phones */


    .reviews .review .reviewer{
        left:80px;
    }


        .openfilterbar .sphericalbutton{
            padding:20px !important;
            border-radius: 50px !important;
        }
        
        
        #filtertags > *{
            margin-bottom: 5px !important;
        }

    .filterbutton {
        padding-left: 50px !important;
        padding-right: 50px !important;
        margin-bottom: 5px !important;
        line-height: 52px !important;
    }
        
        .openfilterbar{
            height:560px !important;
            top:calc(85dvh - 500px) !important;

        }

        .review{
            max-width: 70%;
        flex-basis: 70%;
        }

        .reviewerimg{
            margin-left:20px;
        }

        .reviewer{
            margin-left:-4px;
        }
        
            .reviews img{
        align-self: center;
        object-fit:contain;
        height:400px;
        padding-top:100px;
    }
}
