* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

@font-face {
  font-family: GulfsDisplay;
  src: url('./Fonts/GulfsDisplay.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('./Fonts/Poppins-Regular.ttf');
}

a {
  font-family: Poppins;
}


nav {
  display: flex;
  align-items: center;
  position: sticky;
}

.nav-links{
  padding-top: 20px;
  text-align:right;
  cursor: pointer;
  color:black;
  padding-bottom: 20px;
}
.nav-links ul li{
  list-style:none;
  display:inline-block;
  position:relative;
}
.nav-links ul li a{
  color: #000000;
  text-decoration:none;
  font-size:20px;
}

::-moz-selection { /* Code for Firefox */
  color: #F6EEE3;
  background: #FF0000;
}

::selection {
  color: #F6EEE3;
  background: #FF0000;
}

a{
  color: #000000;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: underline;
}

button{
  margin-left:50px;
  color:white;
  background-color:red;
  border:none;
  height:50px;
  padding-left:20px;
  padding-right:20px;
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom:50px;
  box-shadow: 0 0 0px #FF0000;
  transition: all 1s;
}
button:hover{
  margin-left:50px;
  color:white;
  background-color:red;
  border:none;
  height:50px;
  padding-left:20px;
  padding-right:20px;
  font-family: 'IBM Plex Mono', monospace;
  box-shadow: 0 0 10px #7f1a1a;
  cursor:pointer;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #F6EEE3;
  color:#FF0000;
}
h1{
  margin-left:50px;
  font-family: 'IBM Plex Mono', monospace;
}
p{
    margin-left:50px;

    font-family: 'IBM Plex Mono', monospace;
color:black;
}
.barcode{
    margin-left:50px;
  font-family: 'Libre Barcode 39', cursive;
  font-size:50px;
  padding-bottom: 159px;
}
.talents{
  position: absolute;
  top:150px;
    margin-left:240px;
width: 100%-150px;
filter:blur(10px);
z-index: 10;
  animation:blurinout 10s infinite;
}

@keyframes blurinout{
  0%{
    filter:blur(10px);
  }
  50%{
    filter:blur(5px);
  }
  100%{
    filter:blur(10px);
  }
}


.marquee {
                height: 100px;
                overflow: hidden;
                position: relative;
                color: #ff0000;
  background:#000000;
  margin:0px;
  padding:0px;
  width: 100%;
            }
            
            .marquee p {
              color:#ffffff;
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0;
                line-height: 100px;
                text-align: center;
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                -moz-animation: scroll-left 2s linear infinite;
                -webkit-animation: scroll-left 2s linear infinite;
                animation: scroll-left 8s linear infinite;
            }
            
            @-moz-keyframes scroll-left {
                0% {
                    -moz-transform: translateX(-100%);
                }
                100% {
                    -moz-transform: translateX(100%);
                }
            }
            
            @-webkit-keyframes scroll-left {
                0% {
                    -webkit-transform: translateX(-100%);
                }
                100% {
                    -webkit-transform: translateX(100%);
                }
            }
            
            @keyframes scroll-left {
                0% {
                    -moz-transform: translateX(-100%);
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }
                100% {
                    -moz-transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                }
            

              }

              .waves {
                position: relative;
                width: 100%;
                height: 15vh;
                margin-bottom: -7px; /*Fix for safari gap*/
                min-height: 100px;
                max-height: 150px;
            }
            
            .content {
                position: relative;
                height: 20vh;
                text-align: center;
                background-color: white;
            }
            
            /* Animation */
            
            .parallax > use {
                animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
            }
            
                .parallax > use:nth-child(1) {
                    animation-delay: -2s;
                    animation-duration: 7s;
                }
            
                .parallax > use:nth-child(2) {
                    animation-delay: -3s;
                    animation-duration: 10s;
                }
            
                .parallax > use:nth-child(3) {
                    animation-delay: -4s;
                    animation-duration: 13s;
                }
            
                .parallax > use:nth-child(4) {
                    animation-delay: -5s;
                    animation-duration: 20s;
                }
            
            @keyframes move-forever {
                0% {
                    transform: translate3d(-90px,0,0);
                }
            
                100% {
                    transform: translate3d(85px,0,0);
                }
            }
            /*Shrinking for mobile*/
            @media (max-width: 768px) {
                .waves {
                    height: 40px;
                    min-height: 40px;
                }
            
                .content {
                    height: 30vh;
                }
            
                h1 {
                    font-size: 24px;
                }
            
            }
            
  #portfolio{
    min-width: 90%;
    min-height: 720px;
    border-radius: 10px;
  }
  .center {
    margin: auto;
    width: 50%;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  .header {
background: rgba(246, 238, 227, 0.778);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(246, 238, 227, 0.3);
position: fixed;
z-index: 100;
right:10px;
top:10px;
  }
